<h1>La liste des etudiants</h1>
<table border="1">
<tr>
<td>id</td>
<td>username</td>
<td>email</td>
<td>moyenne</td>
<td>Action</td>
</tr>

{% for student in tabStudent %}
<tr>
<td>{{student.id}}</td>
<td>{{student.username}}</td>
<td>{{student.email}}</td>
<td>{{student.moyenne}}</td>
<td><a href="{{path('studentDelete',{'id':student.id}) }}">Delete</a></td>
</tr>
{%endfor%}
</table>